.manage-users-page {
    display: flex;
    flex-direction: row;
}



.create-user-modal {
    background-color: var(--cards-background);
    border-radius: 10px;
    padding: 1rem;
    width: 400px;
    max-height: 600px;
    overflow: auto;
    .create-user-pfp-edit-icon {
        position: absolute;
        bottom: 16px;
        svg {
            color: var(--text-secondary-alt);
            cursor: pointer;
        }
    }
    .create-user-modal-buttons {
        display: flex;
        padding: .5rem 0;
        button {
            flex: 1;
            font-size: 1rem;
            height: 50px;
            font-weight: 500;
            cursor: pointer;
            &.cancel {
                color: var(--text-secondary-alt);
            }
            &.accept {
                color: #fff;
                border-radius: 10px;
                background-color: var(--blue);
                &:disabled {
                    background-color: var(--light-blue);
                    cursor: default;
                }
            }
        }
    }
}