.mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 100vw;
    background-color: var(--nav-background);
    border: var(--nav-border);
    .nav-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: var(--nav-item-color);
        svg {
            font-size: 30px;
        }
    }
    .active {
        color: var(--blue);
    }
    .nav-item-upload {
        background-color: var(--red);
        border-radius: 100%;
        color: #fff;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            font-size: 35px;
        }
    }
}

.nav-badge {
    position: absolute;
    background-color: var(--red);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: -3px;
    left: 14px;
    border: 2px solid var(--nav-background);
    font-size: 0.7rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
