button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  color: var(--text-input);
  background-color: transparent;
}
textarea:focus,
:active select:focus,
:active,
input:focus,
:active {
  outline: none;
  border: none;
}

input::-webkit-input-placeholder {
color: var(--text-secondary-alt);
  font-weight: 400;
}

input::-moz-placeholder {
    color: var(--text-secondary-alt);
    font-weight: 500;
}

input:-ms-input-placeholder {
    color: var(--text-secondary-alt);
   font-weight: 500;
}

input::-ms-input-placeholder {
    color: var(--text-secondary-alt);
   font-weight: 500;
}

input::placeholder {
    color: var(--text-secondary-alt);
   font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-background) inset !important;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--text-input);
}