:root {
  --blue: #4083ff;
  --light-blue: #ABC9FF;
  --red: #EB4747;
  --pink: #FF7C7C;
  --white: #FFFFFF;
  --white-2: #FAFAFA;
  --gray-0: #E9E9E9;
  --gray-1: #c2c2c2;
  --gray-2: #6A6A6A;
  --gray-3: #404040;
  --gray-4: #919191;
  --gray-5: #4e4e4e;
  --black-0: #000;
  --black-1: #0c0c0c59;
  --black-blue: #202631;
  --button-color-primary: var(--blue);
  --button-color-primary-disabled: var(--light-blue);
  --button-color-secondary: var(--red);
  --button-color-secondary-disabled: var(--pink);
}




.light-mode {
  --background: var(--white-2);
  --cards-background: var(--white);
  --login-background: var(--white);
  --text-input: var(--black-blue);
  --text-title: var(--black-blue);
  --text-secondary: var(--gray-3);
  --text-secondary-alt: var(--gray-2);
  --border-color: var(--gray-0);
  --border-color-dark: var(--gray-3);
  --drop-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  --image-background: var(--gray-1);
  --icon-wrapper-background: var(--gray-0);
  --icon-color: #6A6A6A;
  --input-placeholder-dark: var(--gray-2);
  --skeleton: var(--gray-0);
  --input-background: var(--gray-0);
  /*Admin Styles*/
  --admin-list-category-text-color: var(--gray-3);
  --admin-input-label-color: var(--gray-3);
  --admin-nav: #16263E;
  --admin-search-bar-color: var(--gray-0);
  /*Nav*/
  --nav-item-color: var(--gray-2);
  --nav-background: #fff;
  --nav-border: 1px solid var(--border-color);
  /*Header*/
  --header-border: 1px solid var(--border-color);
  --header-background: #fff;
  --header-height: 55px;
  --header-back-button-color: var(--gray-3);
  --header-label-color: var(--gray-3);
  /*Post Card*/
  --post-card-background: #fff;
  --post-card-border: 0.5px solid var(--border-color);
  --post-card-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  --comment-input-container-background: #fff;
  --comment-input-container-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: var(--background);
  overflow-x: hidden;
}

.full-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--text-secondary-alt);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4848486e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liked {
  svg {
    color: var(--red) !important;
  }
}




