.user-performance {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}
.performance-item {
    display: flex;
    flex-direction: column;
    background-color: var(--cards-background);
    border-radius: 10px;
    box-shadow: var(--post-card-shadow);
    padding: 1rem;
    margin-bottom: 1rem;
    .performance-header {
        display: flex;
        font-size: 1rem;
        padding-bottom: 1rem;
        color: var(--text-secondary);
        font-weight: bold;
        select {
            font-weight: bold;
            color: var(--text-secondary-alt);
            margin-left: auto;
            border-bottom: 1px solid var(--border-color);
            padding: .3rem;
            font-size: 0.8rem;
        }
        span {
            display: flex;
            align-items: center;
        }
    }
}

.performance-list-items-container {
    display: flex;
    flex-direction: column;
    .performance-list-item {
        display: flex;
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        .performance-list-label {
            color: var(--text-secondary-alt);
        }
        .performance-list-value {
            margin-left: auto;
            color: var(--text-secondary);
        }
    }
}
