.admin-search-bar-button {
    padding: 0.5em 1em;
    color: #fff;
    background-color: var(--blue);
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.admin-cancel-button {
    padding: 0.5em 1em;
    color: var(--text-secondary-alt);
    background-color: transparent;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

}

.admin-input-container {
    display: flex;
    flex-direction: column;
    .label {
        color: var(--admin-input-label-color);
        margin-bottom: 10px;
        font-weight: 500;
    }
    input, textarea {
        border: 1px solid var(--border-color);
        padding: 0.8em 0.3em;
        width: 100%;
    }
}