.inbox-page {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
}

.inbox-item.active {
    .inbox-item-sub-title {
        font-weight: bold !important;
        color: var(--text-secondary) !important;
    }
}

.inbox-item {
    display: flex;
    padding: .5rem;
    align-items: center;
    font-size: .9rem;
    .inbox-item-icon {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        height: 55px;
        width: 55px;
        justify-content: center;
        border-radius: 100%;
        background-color: var(--icon-wrapper-background);
        svg {
            font-size: 2.5rem;
            color: #fff;
        }
    }
    .inbox-item-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 60px;
        border-bottom: 1px solid var(--border-color);
        .inbox-item-title {
            margin-bottom: .3rem;
            font-weight: bold;
            color: var(--text-secondary-alt);
            font-size: 1rem;
        }

        .inbox-item-sub-title {
            font-weight: 500;
            color: var(--text-secondary-alt);
        }
        .inbox-item-sub-title.active, .inbox-item-title.active {
            font-weight: bold;
            color: var(--text-secondary);
        }
    }
}

.activity-item {
    b {
        color: var(--text-secondary);
    }
}

