.admin-manage-user-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80vh;
}

.admin-user-manage-header {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.account-search {
    display: flex;
    padding: .3rem .5rem;
    background-color: var(--input-background);
    border-radius: 5px;
    flex: 1;
    input {
        margin-left: .3rem;
        font-size: .9rem;
    }
    input::placeholder {
        color: var(--text-secondary-alt) !important;
        font-weight: 400 !important;
    }
    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            font-size: 1.2rem;
            color: var(--text-secondary-alt);
        }
    }
}

.create-user-button {
    background-color: var(--blue);
    width: 80px;
    height: 100%;
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    font-weight: 500;
    cursor: pointer;
    margin-left: 1rem;
}

.admin-manage-user-item-label {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: .9rem 0;
    font-size: .95rem;
    .item-label {
        color: var(--text-title);
        font-weight: bold;
    }
}

.admin-manage-user-item {
    display: flex;
    padding: .9rem 0;
    font-size: .9rem;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    .item-label {
        color: var(--text-secondary-alt);
        font-weight: 500;
    }
}