.post-page {
    display: flex;
    padding-bottom: 74px;
    .post-card {
        border-radius: 0 0 10px 10px;
        cursor: default;
        margin-bottom: 0;
    }
    .comments-container {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
}