.upload-page {
    display: flex;
    flex-direction: column;
}

.upload-item {
    display: flex;
    padding: 1rem;
    align-items: center;
    .upload-item-icon {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            font-size: 2rem;
            color: var(--text-secondary);
        }
    }
    .upload-item-label {
        color: var(--text-secondary);
        font-weight: bold;
        font-size: 1rem;
    }
    .upload-item-next-arrow {
        margin-left: auto;
        svg {
            font-size: 2rem;
        }
    }
}