.assignment-content-info {
    display: flex;
    background-color: var(--cards-background);
    flex-direction: column;
    padding: 1rem;
    color: var(--text-secondary);
    font-weight: 500;
    .assignment-content-info-item{
        display: flex;
        margin-bottom: 1rem;
    }
    .assignment-content-info-title {
        font-size: 2rem;
        color: var(--text-title);
        font-weight: 500;
    }
    .assignment-content-info-due {
        color: var(--text-secondary-alt);
        margin-bottom: 0;
    }
}

.assignment-content-info-header {
    display: flex;
    align-items: center;
    .more-icon {
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        svg {
            color: var(--text-secondary-alt); 
        }
    }
   
}

.assignment-content-nav {
    display: flex;
    background-color: var(--cards-background);
    position: sticky;
    top: var(--header-height);
    .assignment-content-nav-item{
        font-weight: 500;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        color: var(--text-secondary-alt);
    }
    .assignment-content-nav-item.active {
        color: var(--text-title);
        border-bottom: 1px solid var(--text-title);
    }
}

.assignment-content-info-status {
    span {
        margin-left: .4rem;
        font-weight: bold;
    }
    .completed {
        color: #48FF91;
    }
    .redo {
        color: #FF6A6A;
    }
    .pending {
        color: #FFC75B;
    } 
}

.assignment-content-student-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    .assignment-content-student-item {
        display: flex;
        padding: 0 1rem 1rem 1rem;
        align-items: center;
        .assignment-content-student-name {
            margin-left: .5rem;
            font-size: .9rem;
            font-weight: 500;
            color: var(--text-secondary);
        }
    }
}

.assignment-change-status-button {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: var(--cards-background);
    button{
        height: 55px;
        background-color: var(--blue);
        border-radius: 10px;
        width: 100%;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
    }
}

.assignment-options {
    display: flex;
    flex-direction: column;
    background-color: var(--post-card-background);
    border: 1px solid var(--border-color);
    width: 90%;
    border-radius: 20px;
    font-weight: bold;
    .assignment-options-item {
        display: flex;
        padding: 1rem;
        color: var(--text-title);
        width: 100%;
        justify-content: center;
    }
}