.admin-announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin-announcment-container {
    display: flex;
    flex-direction: column;
    background-color: var(--cards-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    min-width: 300px;
    .admin-announcement-add-button {
        width: 80px;
        background-color: var(--blue);
        color: #fff;
        height: 30px;
        border-radius: 10px;
    }
}